version: '3.7'
services:

    mariadb:
        container_name: mariadb
        image: docker.io/mariadb/mariadb:10.5.2-bionic
        environment: 
            - MYSQL_ROOT_PASSWORD=redhat
            - MYSQL_DATABASE=wordpress
            - MYSQL_USER=wordpress
            - MYSQL_PASSWORD=redhat
        volumes: 
            - 'root/var/lib/mysql:/var/lib/mysql'
        networks: 
            - mariadb-wp-privnet

    wordpress:
        container_name: wordpress
        depends_on: 
            - mariadb
        image: docker.io/wordpress/wordpress:5.4.1-php7.2-apache
        environment: 
            - WORDPRESS_DB_HOST=wordpressdb
            - WORDPRESS_DB_USER=wordpress
            - WORDPRESS_DB_PASSWORD=redhat
            - WORDPRESS_DB_NAME=wordpress
        volumes: 
        - 'root/var/www/html:/var/www/html'
        networks: 
            - mariadb-wp-privnet
        ports: 
            - "80:80"
  
networks: 
    mariadb-wp-privnet:
